<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "sample app", '#', id: "logo" %>
    <nav style="width: 200px;">
      <div class="sample_header">
        <%# <ul class="sample nav navbar-nav navbar-right"> %>
          <li class='sample_link'><%= link_to "Home",   '#' %></li>
          <li class='sample_link'><%= link_to "Help",   '#' %></li>
          <li class='sample_link'><%= link_to "Log in", '#' %></li>
        <%# </ul> %>
      </div>
    </nav>
  </div>
</header>
