<style type="text/css">
.container {
	max-width: 960px;
}

/*
 * カスタムした半透明サイトのヘッダー
 */

.site-header {
	background-color: rgba(0, 0, 0, .85);
	-webkit-backdrop-filter: saturate(180%) blur(20px);
	backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
	color: #999;
	transition: ease-in-out color .15s;
}
.site-header a:hover {
	color: #fff;
	text-decoration: none;
}

/*
 * ダミーデバイス
 */

.product-device {
	position: absolute;
	right: 10%;
	bottom: -30%;
	width: 300px;
	height: 540px;
	background-color: #333;
	border-radius: 21px;
	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
}

.product-device::before {
	position: absolute;
	top: 10%;
	right: 10px;
	bottom: 10%;
	left: 10px;
	content: "";
	background-color: rgba(255, 255, 255, .1);
	border-radius: 5px;
}

.product-device-2 {
	top: -25%;
	right: auto;
	bottom: 0;
	left: 5%;
	background-color: #e5e5e5;
}


/*
 * 追加のユーティリティ
 */

.flex-equal > * {
	-ms-flex: 1;
	flex: 1;
}
@media (min-width: 768px) {
	.flex-md-equal > * {
		-ms-flex: 1;
		flex: 1;
	}
}

.overflow-hidden { overflow: hidden; }
</style>

<header class="blog-header py-3">
  <nav class="site-header sticky-top py-1">
		<div class="container d-flex flex-column flex-md-row justify-content-between">
			<a class="py-2" href="#">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mx-auto"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
				<!-- <span>会社名</span> -->
			</a>
			<a class="py-2 d-none d-md-inline-block" href="#">ツアー</a>
			<a class="py-2 d-none d-md-inline-block" href="#">製品</a>
			<a class="py-2 d-none d-md-inline-block" href="#">特徴</a>
			<a class="py-2 d-none d-md-inline-block" href="#">エンタープライズ</a>
			<a class="py-2 d-none d-md-inline-block" href="#">サポート</a>
			<a class="py-2 d-none d-md-inline-block" href="#">価格</a>
			<a class="py-2 d-none d-md-inline-block" href="#">カート</a>
		</div>
	</nav>
</header>
